article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display:block; }
audio, canvas, video {
  display:inline-block;
  *display:inline;
  *zoom:1;
}
audio:not([controls]) { display:none; }
[hidden] { display:none; }
html {
  font-size:100%;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
}
html, button, input, select, textarea { font-family:sans-serif; }
body { margin:0; }
a:focus { outline:thin dotted; }
a:hover, a:active { outline:0; }
h1 {
  font-size:2em;
  margin:0.67em 0;
}
h2 {
  font-size:1.5em;
  margin:0.83em 0;
}
h3 {
  font-size:1.17em;
  margin:1em 0;
}
h4 {
  font-size:1em;
  margin:1.33em 0;
}
h5 {
  font-size:0.83em;
  margin:1.67em 0;
}
h6 {
  font-size:0.75em;
  margin:2.33em 0;
}
abbr[title] { border-bottom:1px dotted; }
b, strong { font-weight:bold; }
blockquote { margin:1em 40px; }
dfn { font-style:italic; }
mark {
  background:#ffff00;
  color:#000000;
}
p, pre { margin:1em 0; }
pre, code, kbd, samp {
  font-family:monospace, serif;
  _font-family:'courier new', monospace;
  font-size:1em;
}
pre {
  white-space:pre;
  white-space:pre-wrap;
  word-wrap:break-word;
}
q { quotes:none; }
q:before, q:after {
  content:'';
  content:none;
}
small { font-size:75%; }
sub, sup {
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline;
}
sup { top:-0.5em; }
sub { bottom:-0.25em; }
dl, menu, ol, ul { margin:1em 0; }
dd { margin:0 0 0 40px; }
menu, ol, ul { padding:0 0 0 40px; }
nav ul, nav ol {
  list-style:none;
  list-style-image:none;
}
img {
  border:0;
  -ms-interpolation-mode:bicubic;
}
svg:not(:root) { overflow:hidden; }
figure { margin:0; }
form { margin:0; }
fieldset {
  border:1px solid #c0c0c0;
  margin:0 2px;
  padding:0.35em 0.625em 0.75em;
}
legend {
  border:0;
  padding:0;
  white-space:normal;
  *margin-left:-7px;
}
button, input, select, textarea {
  font-size:100%;
  margin:0;
  vertical-align:baseline;
  *vertical-align:middle;
}
button, input { line-height:normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor:pointer;
  -webkit-appearance:button;
  *overflow:visible;
}
button[disabled], input[disabled] { cursor:default; }
input[type="checkbox"], input[type="radio"] {
  box-sizing:border-box;
  padding:0;
  *height:13px;
  *width:13px;
}
input[type="search"] {
  -webkit-appearance:textfield;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box;
  box-sizing:content-box;
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance:none; }
button::-moz-focus-inner, input::-moz-focus-inner {
  border:0;
  padding:0;
}
textarea {
  overflow:auto;
  vertical-align:top;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}

body.pdf { color:black; }
body.pdf a {
  text-decoration:none;
  color:black;
}
body.pdf .content {
  width:1000px;
  margin:0 auto;
  padding:0;
  background:none;
  border:none;
  border-width:8px 0 2px 0;
  text-align:left;
}
body.pdf .resume {
  position:relative;
  padding:40px 80px;
}
body.pdf a[href$='.pdf'] { display:none; }
body.pdf h1 {
  letter-spacing:0;
  margin-top:0;
  font-size:48px;
  text-transform:uppercase;
  font-weight:normal;
}
body.pdf h2 {
  letter-spacing:0;
  text-transform:uppercase;
  font-style:italic;
  font-weight:normal;
}
body.pdf h3 {
  float:left;
  width:16%;
  font-style:normal;
}
body.pdf h3+p {
  float:left;
  width:84%;
}
body.pdf blockquote {
  top:40px;
  right:50px;
  position:absolute;
}
body.pdf ul li {
  width:28%;
  float:left;
}
body.pdf ul dl {
  margin:0;
  padding:0.3em 0 0;
}
body.pdf ul dl dt {
  font-size:122%;
  font-weight:normal;
  margin:0 0 .75em;
}
body.pdf ul dl dd { padding:0 4em 0 0; }
body.pdf ol {
  float:left;
  width:84%;
  margin:.7em 0 0;
}
body.pdf ol li {
  width:33%;
  margin:0;
}
body.pdf ol li:nth-child(3n) { width:34%; }
body.pdf ol li:nth-child(1), body.pdf ol li:nth-child(2), body.pdf ol li:nth-child(3) { border-top:none; }
body.pdf dl { margin:.7em 0 0; }
body.pdf dl strong {
  float:right;
  margin-top:-2em;
}
body.pdf dl em {
  font-size:130%;
  font-style:normal;
}

.clearfix { zoom:1; }
.clearfix:after {
  display:block;
  visibility:hidden;
  height:0;
  clear:both;
  content:".";
}
body { font-family:'Hoefler Text', Times New Roman, Times, serif; }
h1, h2, h3, h4, ul dl dt { font-family:Futura, 'Century Gothic', AppleGothic, sans-serif; }
.content {
  margin:0 auto;
  padding:0;
  border:solid #666666;
  border-width:8px 0 2px 0;
  text-align:left;
}
.resume {
  position:relative;
  padding:10px 20px;
}
a {
  color:#333333;
  text-decoration:none;
}
a:hover {
  color:#227ce8;
  text-decoration:underline;
}
blockquote {
  margin:0;
  padding:0;
  line-height:1.4em;
}
hr {
  display:block;
  position:relative;
  padding:0;
  margin:18px auto;
  width:100%;
  clear:both;
  border:none;
  border-top:1px solid #cccccc;
  font-size:1px;
  line-height:0;
  overflow:visible;
  page-break-after:avoid;
}
h1 {
  margin:0;
  padding:0;
  font-size:36px;
  letter-spacing:-1px;
  font-weight:normal;
  text-transform:uppercase;
}
h2 {
  margin:0;
  padding:0;
  font-size:18px;
  font-style:italic;
  letter-spacing:-1px;
  font-weight:normal;
  text-transform:uppercase;
  font-style:italic;
}
h3 {
  margin:0;
  padding:0 0 .5em;
  font-size:150%;
  font-style:italic;
  font-weight:normal;
}
h3+p {
  margin:.6em 0 16px;
  padding:0;
  display:block;
  font-size:104%;
  line-height:24px;
}
ul {
  margin:0;
  padding:0;
  list-style:none;
}
ul li {
  margin:0;
  padding:0;
}
ul dl {
  margin:.3em 0 0;
  padding:0;
  width:100%;
}
ul dl dt { font-size:100%; }
ul dl dd {
  margin:0 0 1em;
  padding:0 2em 0 0;
  font-size:.8em;
  line-height:1.5em;
}
ol {
  margin:0;
  padding:0 0 .75em;
  width:84%;
  display:inline-block;
}
ol li {
  margin:0 0 0 1em;
  padding:0;
  border-top:1px solid #cccccc;
  width:100%;
  float:left;
  list-style:none;
  line-height:24px;
  font-size:14px;
}
ol li:nth-child(1) { border-top:none; }
dl {
  display:inline-block;
  width:75%;
  margin:0;
  padding:0;
}
dl dt {
  margin:0;
  padding:0;
  font-size:140%;
}
dl dd {
  margin:0 0 1.5em;
  padding:0;
  font-size:80%;
  line-height:1.4em;
}
dl strong { display:block; }
dl em {
  display:block;
  font-size:110%;
  margin:.15em 0 .5em;
  font-style:normal;
}
#footer { display:none; }
#footer + p {
  width:100%;
  font-size:11px;
  text-align:center;
}

@media screen and (min-width: 15em) {
}
@media screen and (min-width: 30em) {
}
@media screen and (min-width: 37.5em) {
  blockquote {
    top:10px;
    right:50px;
    position:absolute;
  }
  h1 { margin-top:.5em; }
  ol { margin:0 0 0 1em; }
  ol li {
    width:50%;
    margin:0;
  }
  ol li:nth-child(1), ol li:nth-child(2) { border-top:none; }
}
@media screen and (min-width: 57em) {
  .content { width:912px; }
  .resume {
    position:relative;
    padding:40px 50px;
  }
  blockquote {
    top:40px;
    right:50px;
    position:absolute;
  }
  h1 {
    margin-top:0;
    font-size:3em;
    letter-spacing:3px;
    font-weight:normal;
  }
  h2 {
    letter-spacing:2px;
    font-weight:normal;
  }
  h3 {
    float:left;
    width:16%;
  }
  h3+p {
    float:left;
    width:84%;
  }
  ul li {
    width:28%;
    float:left;
  }
  ul dl dt {
    font-size:122%;
    font-weight:normal;
    margin-bottom:.75em;
  }
  ul dl dd { padding:0 4em 0 0; }
  ol {
    float:left;
    width:84%;
    margin:.6em 0 0;
  }
  ol li {
    width:33%;
    margin:0;
  }
  ol li:nth-child(3n) { width:34%; }
  ol li:nth-child(1), ol li:nth-child(2), ol li:nth-child(3) { border-top:none; }
  dl { margin:.5em 0 0; }
  dl strong {
    float:right;
    margin-top:-2em;
  }
  dl em {
    font-size:130%;
    font-style:normal;
  }
}
@media screen and (min-width: 118em) {
}
