:root {
  --radius: 0;
}

.first-entry {
  min-height: unset;
}

div:not(.toc) > details summary {
  margin-bottom: 1em;
  cursor: pointer;
}

pre code {
  /* Make unstyled code much more visible */
  color: var(--primary) !important;
  background-color: var(--theme) !important;
}
