:root {
  --radius: 0;
  --content: rgb(81, 81, 81);
}

body {
  line-height: 1.7;
}

.toc details {
  margin: 0;
  border-left: none;
}

details {
  margin: 0.5em 0 0.5em;
  padding-left: 0.5em;
  border-left: 3px dashed var(--code-bg);
}

details summary {
  cursor: pointer;
}

pre code {
  /* Make unstyled code much more visible */
  color: var(--primary) !important;
  background-color: var(--theme) !important;
}

li::marker {
  font-weight: 600;
}
