.highlight {
  margin: 0;
  padding: 0;
}
.highlight pre {
  margin: 1rem 0;
  padding: 10px 15px;
}

.content details summary {
  cursor: pointer;
  font-weight: 600;
}
.content p {
  /* Cactus is justified by default */
  text-align: inherit;
}
.content ul li, .content ol li {
  margin-bottom: 0.5em;
}
