body.pdf { color:black; }
body.pdf a { text-decoration:none; }
body.pdf .resume {
  width:900px;
  margin:0 auto;
  background:none;
  border:none;
  border-width:8px 0 2px 0;
  text-align:left;
  position:relative;
  padding:34px 80px 0;
  color:#000000;
}
body.pdf a[href$='.pdf'] { display:none; }
body.pdf h1 {
  letter-spacing:0;
  margin-top:0;
  font-size:48px;
  text-transform:uppercase;
  font-weight:normal;
}
body.pdf h2 {
  letter-spacing:0;
  text-transform:uppercase;
  font-style:italic;
  font-weight:normal;
}
body.pdf h3 {
  font-size:1.25em;
  float:left;
  width:16%;
  font-style:normal;
}
body.pdf h3+p {
  float:left;
  width:84%;
  margin-top:.25em;
}
body.pdf h5 { font-size:120%; }
body.pdf blockquote {
  top:40px;
  right:82px;
  position:absolute;
}
body.pdf ul li {
  width:28%;
  float:left;
}
body.pdf ul dl {
  margin:0;
  padding:0.3em 0 0;
}
body.pdf ul dl dt {
  font-size:122%;
  font-weight:normal;
  margin:0 0 .75em;
}
body.pdf ul dl dd { padding:0 4em 0 0; }
body.pdf ol {
  float:left;
  width:84%;
  margin:.7em 0 0;
}
body.pdf ol li {
  width:33%;
  margin:0;
}
body.pdf ol li:nth-child(3n) { width:34%; }
body.pdf ol li:nth-child(1), body.pdf ol li:nth-child(2), body.pdf ol li:nth-child(3) { border-top:none; }
body.pdf dl {
  margin:0;
  margin-top:-1px;
}
body.pdf dl strong {
  float:right;
  margin-top:-2em;
}
body.pdf hr:last-child { margin-bottom:0; }

.resume a.button {
  font-family:Futura, 'Century Gothic', AppleGothic, sans-serif;
  color:#ffffff;
  font-weight:normal;
  text-align:center;
  text-transform:uppercase;
  margin-bottom:5px;
  line-height:2.5em;
  min-width:80px;
  background-color:#666666;
  display:block;
}
.resume a.button:hover {
  text-decoration:none;
  text-shadow:2px 2px #333333;
  color:#ffffff;
}
.resume .phone { display:none; }
.resume {
  height:100%;
  width:100%;
  max-width:900px;
  padding:10px 20px;
  position:relative;
  border-bottom:none;
  border:solid #666666;
  border-width:8px 0 2px 0;
  font-family:'Hoefler Text', Times New Roman, Times, serif;
  color:#000000;
  text-align:left;
}
em { font-family:'Times New Roman', Times, serif; }
.resume h1, .resume h2, .resume h3, .resume h4, .resume dl dt {
  font-family:Futura, 'Century Gothic', AppleGothic, sans-serif;
  color:#000000;
  font-weight:normal;
}
.resume h1 {
  margin:0;
  padding:0;
  font-size:36px;
  letter-spacing:-1px;
  font-weight:normal;
  text-transform:uppercase;
}
.resume h2 {
  margin:0;
  padding:0;
  font-size:18px;
  font-style:italic;
  letter-spacing:-1px;
  font-weight:normal;
  text-transform:uppercase;
  font-style:italic;
}
.resume h3 {
  margin:0;
  padding:0 0 .5em;
  font-size:140%;
  font-style:italic;
  font-weight:normal;
}
.resume h3+p, .resume dd p { font-size:1.1em; }
.resume h3+p {
  margin:.5px 0 16px;
  padding:0;
  display:block;
  font-size:114%;
  line-height:1.5em;
}
.resume h4 {
  margin:0;
  padding:0 0 .125em;
  font-weight:normal;
}
.resume h5 {
  margin:0;
  padding:0;
  font-size:110%;
  font-weight:normal;
  line-height:1.45em;
}
.resume a {
  color:#000000;
  text-decoration:none;
}
.resume a:hover {
  color:#227ce8;
  text-decoration:underline;
}
.resume blockquote {
  margin:0;
  padding:0;
  line-height:1.4em;
  font-style:normal;
  text-align:right;
  top:0;
  float:right;
}
.resume hr {
  display:block;
  position:relative;
  padding:0;
  margin:18px auto;
  width:100%;
  clear:both;
  border:none;
  border-top:1px solid #cccccc;
  font-size:1px;
  line-height:0;
  overflow:visible;
  page-break-after:avoid;
  background-image:none;
}
.resume ul {
  margin:0;
  padding:0;
  list-style:none;
}
.resume ul li {
  margin:0;
  padding:0;
}
.resume ol {
  margin:0;
  padding:0 0 .75em;
  width:84%;
  display:inline-block;
}
.resume ol li {
  margin:0 0 0 1em;
  padding:0;
  border-top:1px solid #cccccc;
  width:100%;
  float:left;
  list-style:none;
  line-height:1.5em;
  font-size:1em;
}
.resume ol li:nth-child(1) { border-top:none; }
.resume dl {
  display:inline-block;
  width:84%;
  margin:0;
  padding:0;
}
.resume dl dt {
  margin:0;
  padding:0;
  font-size:140%;
}
.resume dl dd {
  margin:0 0 2.0em;
  padding:0;
  font-size:.95em;
}
.resume dl dd:last-child { margin-bottom:-1em; }
.resume dl dd p {
  margin:1em 0 1em;
  line-height:1.5em;
}
.resume dl strong { display:block; }
.content_area .resume dl dd { font-size:100%; }
.resume #footer { display:none; }
.resume #footer + p {
  width:100%;
  font-size:11px;
  text-align:center;
}

@media screen and (max-width: 320px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 600px) {
  .resume h1 { margin-top:.5em; }
  .resume ol { margin:0 0 0 1em; }
  .resume ol li {
    width:50%;
    margin:0;
  }
  .resume ol li:nth-child(1), .resume ol li:nth-child(2) { border-top:none; }
}
@media screen and (max-width: 912px) {
  .resume {
    font:1em / 1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#333333;
    position:relative;
    width:inherit;
  }
  .resume blockquote {
    float:none;
    position:initial;
  }
  .resume h1 { display:none; }
  .resume h2 { display:none; }
  .resume h3 {
    margin:0;
    font-style:normal;
    font-size:1.3em;
    font-family:Futura, 'Century Gothic', AppleGothic, sans-serif;
    font-weight:lighter;
    letter-spacing:2px;
    text-transform:uppercase;
    margin-bottom:15px;
    padding-bottom:0;
  }
  .resume h3+p { font-size:1em; }
  .resume ul li {
    width:28%;
    float:left;
  }
  .resume ul dl dt {
    font-size:122%;
    font-weight:normal;
    margin-bottom:.75em;
  }
  .resume ul dl dd { padding:0 4em 0 0; }
  .resume ol {
    float:left;
    width:84%;
    margin:.6em 0 0;
  }
  .resume ol li {
    width:33%;
    margin:0;
  }
  .resume ol li:nth-child(3n) { width:34%; }
  .resume ol li:nth-child(1), .resume ol li:nth-child(2), .resume ol li:nth-child(3) { border-top:none; }
  .resume dl {
    margin:0;
    width:inherit;
  }
  .resume dl strong {
    float:right;
    margin-top:-2em;
  }
}
@media screen and (min-width: 912px) {
  .resume {
    width:912px;
    position:relative;
  }
  .resume blockquote {
    top:0px;
    right:50px;
    position:absolute;
    text-align:right;
  }
  .resume h1 {
    margin-top:0;
    font-size:3em;
    letter-spacing:3px;
    font-weight:normal;
  }
  .resume h2 {
    letter-spacing:2px;
    font-weight:normal;
  }
  .resume h3 {
    float:left;
    width:16%;
    margin:0;
  }
  .resume h3+p {
    float:left;
    width:84%;
  }
  .resume ul li {
    width:28%;
    float:left;
  }
  .resume ul dl dt {
    font-size:122%;
    font-weight:normal;
    margin-bottom:.75em;
  }
  .resume ul dl dd { padding:0 4em 0 0; }
  .resume ol {
    float:left;
    width:84%;
    margin:.6em 0 0;
  }
  .resume ol li {
    width:33%;
    margin:0;
  }
  .resume ol li:nth-child(3n) { width:34%; }
  .resume ol li:nth-child(1), .resume ol li:nth-child(2), .resume ol li:nth-child(3) { border-top:none; }
  .resume dl { margin:0; }
  .resume dl strong {
    float:right;
    margin-top:-2em;
  }
}
