.content_area .resume {
  height: 100%;
  width: 100%;
  max-width: 900px;
  margin: 0;
  padding: 0;

  border-bottom: none;
}

.content_area .resume blockquote {
    top: 0;
}

.content_area .resume a.button {
    font-family: Futura, 'Century Gothic', AppleGothic, sans-serif;
    color: #FFF;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
    line-height: 2.5em;
    min-width: 80px;
    background-color: #666;
    display: block;
}
.content_area .resume a.button:hover {
    text-decoration: none;
    text-shadow: 2px 2px #333;
}

.content_area .resume .phone {
    display:none;
}

.resume {
    position:relative;
    margin: 0 auto;
    padding: 10px 20px;
    border: solid #666;
    border-width: 8px 0 2px 0;

    font-family: 'Hoefler Text', Times New Roman, Times, serif;
    color: #000;
    text-align: left;
}

em {
    font-family: 'Times New Roman', Times, serif;
}

.resume .button { display: none;}

.resume h1,
.resume h2,
.resume h3,
.resume h4,
.resume dl dt {
    font-family: Futura, 'Century Gothic', AppleGothic, sans-serif;
    color: #000;
    font-weight: normal;
}

.resume h1 {
    margin: 0;
    padding: 0;
    font-size: 36px;
    letter-spacing: -1px;
    font-weight: normal;
    text-transform: uppercase;
}

.resume h2 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-style: italic;
    letter-spacing: -1px;
    font-weight: normal;

    text-transform: uppercase;
    font-style: italic;
}

.resume h3 {
    margin: 0;
    padding: 0 0 .5em;
    font-size: 140%;
    font-style: italic;
    font-weight: normal;
}

.resume h3+p, .resume dd p {
    font-size: 1.1em;
}

.resume h3+p {
    margin: .6em 0 16px;
    padding: 0;
    display: block;
    font-size: 114%; /* Summary font-size */
    line-height: 24px;
}

.resume h4 {
    margin: 0;
    padding: 0 0 .125em;
    font-weight: normal;
}

.resume h5 {
    margin: 0;
    padding: 0;
    font-size: 110%;
    font-weight: normal;
    line-height: 1.45em;
}

.resume a {
    color: #000;
    text-decoration: none;
}

.resume a:hover {
    color: #227CE8;
    text-decoration: underline;
}

/*a[href$='.pdf'] {
    display: inline-block;
    background: #666;
    color: white;
    padding: 6px 12px;
    margin-bottom: 6px;
    text-decoration: none;
}*/

.resume blockquote {
    margin: 0;
    padding: 0;
    line-height: 1.4em;
    font-style: normal;
}

.resume hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 18px auto;
    width: 100%;
    clear: both;
    border: none;
    border-top: 1px solid #CCC;
    font-size: 1px;
    line-height: 0;
    overflow: visible;
    page-break-after: avoid;

    background-image: none;
}

.resume ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.resume ul li {
    margin: 0;
    padding: 0;
}

.resume ol {
    margin: 0;
    padding: 0 0 .75em;
    width: 84%;
    display: inline-block;
}

.resume ol li {
    margin: 0 0 0 1em;
    padding: 0;
    border-top: 1px solid #CCCCCC;
    width: 100%;
    float: left;
    list-style: none;
    line-height: 24px;
    font-size: 14px;
}
.resume ol li:nth-child(1) {
    border-top: none;
}

.resume dl {
    display: inline-block;
    width: 84%; /* Toggle between 75% and 84% to adjust heights */
    margin: 0;
    padding: 0;
    dt {
        margin: 0;
        padding: 0;
        font-size: 140%;
    }
    dd {
        margin: 0 0 1.25em;
        padding: 0;
        font-size: .95em; /* Job description text font size */
    }
    dd:last-child {
        margin-bottom: -1em;
    }

    dd p {
        margin: 1em 0 1em;
        line-height: 1.5em;
    }
    strong {
        display: block;
    }
}

.content_area .resume dl dd {
    font-size:100%;
}


.resume #footer {
    display: none;
}

.resume #footer + p {
    width: 100%;
    font-size: 11px;
    text-align: center;
}