/*
  Mobile layout
  240–479 px
  Zoomed out below 320 px
*/

@media screen and (min-width: 15em) {
}


/*
  Wide mobile layout
  480-767 px
  Zoomed in above 480 px
*/

@media screen and (min-width: 30em) {
}


/*
  Tablet layout
  600-911 px
  Zoomed in above 600 px
*/

@media screen and (min-width: 37.5em) {
    .resume blockquote {
        top: 10px;
        right: 50px;
        position: absolute;
    }
    .resume h1 { /* Open up the top section height so we don't collapse on the blockquote */
        margin-top: .5em;
        /*text-transform: uppercase;*/
    }
    .resume h2 {
        /*text-transform: uppercase;*/
        /*font-style: italic;*/
    }
    .resume ol {
        margin: 0 0 0 1em;
    }
    .resume ol li {
        width: 50%;
        margin: 0;
    }
    .resume ol li:nth-child(1),
    .resume ol li:nth-child(2) {
        border-top: none;
    }
}


/*
  Widescreen layout
  912-1887 px
  Zoomed in above 912 px
*/

@media screen and (min-width: 57em) {
    .resume {
        width: 912px;
        position:relative;
        padding: 40px 50px;
    }
    .resume blockquote {
        top: 40px;
        right: 50px;
        position: absolute;
    }
    .resume h1 {
        margin-top: 0;
        font-size: 3em;
        /*text-transform: uppercase;*/
        letter-spacing: 3px;
        font-weight: normal;
    }
    .resume h2 {
        /*text-transform: uppercase;*/
        /*font-style: italic;*/
        letter-spacing: 2px;
        font-weight: normal;
    }

    .resume h3 {
        float: left;
        width: 16%;
        margin: 0;
    }

    .resume h3+p {
        float: left;
        width: 84%;
    }

    .resume ul li {
        width: 28%;
        float: left;
    }
    .resume ul dl {
        dt {
            font-size: 122%;
            font-weight: normal;
            margin-bottom: .75em;
        }
        dd {
            padding: 0 4em 0 0;
        }
    }

    .resume ol {
        float: left;
        width: 84%;
        margin: .6em 0 0;
    }

    .resume ol li {
        width: 33%;
        margin: 0;
    }
    .resume ol li:nth-child(3n) {
        width: 34%;
    }
    .resume ol li:nth-child(1),
    .resume ol li:nth-child(2),
    .resume ol li:nth-child(3) {
        border-top: none;
    }

    .resume dl {
        margin: 0;
        dt {
        }
        dd {
        }
        strong {
            float: right;
            margin-top: -2em;
        }
        em {
            /*font-size: 130%;*/
            /*font-style: normal;*/
        }
    }
}


/*
  Huge-screen layout
  1888-2520 px
  Zoomed in above 1920 px
*/

@media screen and (min-width: 118em) {


}