/*
  Mobile layout
  240–479 px
  Zoomed out below 320 px
*/

@media screen and (max-width: 320px) {
}


/*
  Wide mobile layout
  480-767 px
  Zoomed in above 480 px
*/

@media screen and (max-width: 480px) {
}


/*
  Tablet layout
  600-911 px
  Zoomed in above 600 px
*/

@media screen and (max-width: 600px) {
    .resume h1 { /* Open up the top section height so we don't collapse on the blockquote */
        margin-top: .5em;
    }
    .resume ol {
        margin: 0 0 0 1em;
    }
    .resume ol li {
        width: 50%;
        margin: 0;
    }
    .resume ol li:nth-child(1),
    .resume ol li:nth-child(2) {
        border-top: none;
    }
}


/*
  Widescreen layout
  912-1887 px
  Zoomed in above 912 px
*/

@media screen and (max-width: 912px) {
    .resume {
        font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #333;
        position:relative;
        width: inherit;
    }
    .resume blockquote {
        float:none;
        position:initial;
    }
    .resume h1 {
        display: none;
    }
    .resume h2 {
        display: none;
    }

    .resume h3 {
        margin: 0;

        font-style: normal;
        font-size: 1.3em;
        font-family: Futura, 'Century Gothic', AppleGothic, sans-serif;
        font-weight: lighter;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 15px;
        padding-bottom: 0;
    }

    .resume h3+p {
        font-size: 1em;
    }

    .resume ul li {
        width: 28%;
        float: left;
    }
    .resume ul dl {
        dt {
            font-size: 122%;
            font-weight: normal;
            margin-bottom: .75em;
        }
        dd {
            padding: 0 4em 0 0;
        }
    }

    .resume ol {
        float: left;
        width: 84%;
        margin: .6em 0 0;
    }

    .resume ol li {
        width: 33%;
        margin: 0;
    }
    .resume ol li:nth-child(3n) {
        width: 34%;
    }
    .resume ol li:nth-child(1),
    .resume ol li:nth-child(2),
    .resume ol li:nth-child(3) {
        border-top: none;
    }

    .resume dl {
        margin: 0;
        width: inherit;
        dt {
        }
        dd {
        }
        strong {
            float: right;
            margin-top: -2em;
        }
    }
}

/* Anything larger than mobile
Code here could likely be cleaned up, likely lots of redundant code
from above */
@media screen and (min-width: 912px) {
  .resume {
    width:912px;
    position:relative;
  }
  .resume blockquote {
    top:0px;
    right:50px;
    position:absolute;
    text-align: right;
  }
  .resume h1 {
    margin-top:0;
    font-size:3em;
    letter-spacing:3px;
    font-weight:normal;
  }
  .resume h2 {
    letter-spacing:2px;
    font-weight:normal;
  }
  .resume h3 {
    float:left;
    width:16%;
    margin:0;
  }
  .resume h3+p {
    float:left;
    width:84%;
  }
  .resume ul li {
    width:28%;
    float:left;
  }
  .resume ul dl dt {
    font-size:122%;
    font-weight:normal;
    margin-bottom:.75em;
  }
  .resume ul dl dd { padding:0 4em 0 0; }
  .resume ol {
    float:left;
    width:84%;
    margin:.6em 0 0;
  }
  .resume ol li {
    width:33%;
    margin:0;
  }
  .resume ol li:nth-child(3n) { width:34%; }
  .resume ol li:nth-child(1), .resume ol li:nth-child(2), .resume ol li:nth-child(3) { border-top:none; }
  .resume dl { margin:0; }
  .resume dl strong {
    float:right;
    margin-top:-2em;
  }
}
